* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo img {
    height: 85px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    padding-left: 50px;
    align-self: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: rgb(154, 154, 154);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.login a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login a:hover {
    background-color: white;
    color: #333;
}

.header-title {
    text-align: center;
    margin-top: -36px; /* Ajuste fino para alinhar melhor */
    z-index: 50;
    position: relative;
}

.header-title h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.hero {
    background: url('img/banner.png') no-repeat center center/cover;
    height: calc(105vh - 70px); /* 100% da viewport menos a altura do header */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Para escurecer a imagem de fundo */
}

.hero-text {
    position: relative;
    z-index: 1;
    width: 20%;
    align-content: center;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-text .t1 h1 {
    margin-left: 35px;
}

/*.hero-text .t2 h1 {
   
} */
.hero-text .t1 h1::after {
    content:"";
    width: 100%;
    height: 0.7px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    opacity: 0.7;
}

.hero-text .t2 h1::after {
    content:"";
    width: 119%;
    height: 0.7px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    opacity: 0.7;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #A0A090;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-text button:hover {
    background-color: #888870;
}
/******************2º Home**********************/
.background img {
    height: 100%;
    width: 110%;
    float: right;
    
}

.hm ul {
    list-style-type: none;
    text-align: justify;
    color: #000000;
    padding-top: 10%;
    padding-left: 15%;
}

.hm li {
    padding-top: 50px;
    font-size: 23px;
}

.container{
    display: flex;
    
}

.hm {
    background-color: #ffffff;
    border-radius: 0 50px 50px 0;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    height: 50rem;
    width: 50rem;
    z-index: 1;
}

.divLogo {
    background-color: #25FF12;
    height: 30%;
    width: 30%;
    border-radius: 0 0 100px 100px;
    margin-left: 35%;
    align-content: flex-end;
}

.divLogo img {
    height: 200px;
    width: 120px;
    margin-top: 50px;
}