* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAF3E0;
    color: #333;
    line-height: 1.6;
    min-height: 120vh;
}

header {
    background: linear-gradient(135deg, #333, #5a5a5a);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 85px;
    transition: transform 0.6s ease;
    padding: 15px;
}

.logo img:hover {
    transform: rotate(360deg) scale(1.1);
}

nav ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    padding-left: 50px;
    align-self: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}

nav ul li a:hover {
    color: #f1c40f;
}

.login a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.login a:hover {
    background-color: #f1c40f;
    color: #333;
    transform: scale(1.1);
}