* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 70px; /* Espaço para o header fixo */
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo img {
    height: 85px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    padding-left: 50px;
    align-self: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: rgb(154, 154, 154);
}

.login a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.login a:hover {
    background-color: white;
    color: #333;
}

/* Título grande no topo */
.top-title {
    padding: 20px;
    text-align: center;
}

.top-title h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

/* Seção de conteúdo principal */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px;
    position: relative;
}

/* Texto à esquerda */
.text-section {
    flex: 1;
    max-width: 70%;
}

.text-section h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.text-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

/* Imagem no canto inferior direito */
.image-section {
    bottom: -20px; /* Faz a imagem flutuar no canto inferior */
    right: 0;      /* Alinha a imagem à direita */
    width: 40%;    /* Define a largura da imagem */
}

.image-section img {
    width: 100%;
    border-top-left-radius: 200px; /* Efeito arredondado no canto superior esquerdo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 127px;
    margin-left: 35px;
}