* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    background-color: #004d99;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    z-index: 100;
    position: relative;
}

.logo img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hover nos botões de navegação */
nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1a3e70;
    border-radius: 5px;
}

nav a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1a3e70;
    border-radius: 5px;
}

nav i {
    font-size: 1.2em;
}